body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.App {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    /* Heading color */
}

.calculator {
    margin-bottom: 20px;
    position: relative;
}

.calculator h3 {
    color: #eb1241;
    /* Calculator title color */
}

.calculator p.output {
    position: absolute;
    top: 65%;
    margin-left: 150px;
    display: none;
    color: #45a049;
    /* Output color */
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    border-color: #333;
    height: 18px;
    width: auto;
    margin-right: 15px;
}

.calculator button {
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

.calculator button:hover {
    background-color: #45a049;
}

p {
    font-weight: bold;
    color: #333;
}

.footer {
    background-color: white;
    border-radius: 30px;
    padding: 12px;
    display: inline-block;
    float: right;
    width: 100%;
    /* Set the initial width to 100% */
    max-width: 400px;
    /* Limit the maximum width for larger screens */
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
    /* Align the text to the right */
}

.footer a {
    text-decoration: none;
    color: #45a049;
}

.footer a:hover {
    color: #e91f6d;
}


/* Media query for adjusting styles for smaller screens */

@media only screen and (min-width: 600px) {
    .footer {
        width: 53%;
        /* Set a fixed width for larger screens */
    }
}
